.header{
	background-color: #b4352c;
	color: white;
}


.image-carousel {
	object-fit: cover;
	height: 800px; 
}

.image-carousel2 {
	object-fit: cover;
	object-position: 0 70%;
	height: 800px; 
}

footer {
    position: fixed;
    bottom:0;
    left:0;
}